<!DOCTYPE html>

<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #container {width:300px; height: 180px; }
    </style>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>
<table class="tittle">RUI NING 8</table>
<table class="shipinfo" >
    <tr>
        <td >sadadas</td>
        <td  >sadasdadsa</td>
        <td  >afasf</td>
        <td  >asfaf</td>
    </tr>
    <tr>
        <td >DTR</td>
        <td >sadasdadsa</td>
        <td >afASDASDASDSADsf</td>
        <td >asfaf</td>
    </tr>
</table>
<a href="127.0.0.1:3000/trace?id=413302280">详细信息</a>
</body>
</html>
