<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>船舶设备数据</title>
    <style type="text/css">
        html, body, #container {
            height: 100%;
            width: 100%;
        }

        .input-card .btn {
            position: fixed;
            left: 10px;
            top: 10px;
            z-index: 9999;
            width: 250px;
            height: 24px;
        }

        .input-card .btn:last-child {
            margin-right: 0;
        }
    </style>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div id="cold_water" style="width: 80%;height:500px;top:10px;"></div>
<div id="diesel_oil" style="width:80%;height:500px;top:100px;"></div>
<div id="Supercharger" style="width:80%;height:500px;top:100px;"></div>
</body>
<script type="text/javascript">
    (function ($) {
        $.getUrlParam = function (id) {
            var reg = new RegExp("(^|&)" + id + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);
    function todate(x) {
        //alert(JSON.stringify(x))
        var date=x.更新时间.split("/");
        var day=date[0];
        var hour=date[1];
        var minute=date[2];
        var res_str=day+" "+hour+":"+minute+":00"
        var res=new Date(res_str)
        //alert(res_str)
        return res
    }
    function up(x,y){
        var Datex=todate(x)
        var Datey=todate(y)
        return Datex-Datey
    }
    $(document).ready(function() {
        var id=$.getUrlParam('id');
        var cold_Chart = echarts.init(document.getElementById('cold_water'));
        $.ajax({
            url: "/devicehis_coldwater",
            type: "POST",
            data:{"id":id},
            dataType: "json",
            success: function(response) {
                data_time=[];
                data_tem=[];
                response["res"].sort(up)

                for(var d in response["res"]){
                    data_time.push(response["res"][d]["更新时间"]);
                    data_tem.push(response["res"][d]["气缸冷却水温度"]);
                }
                //alert(data_tem)
                option = {
                    title:{
                        text:'气缸冷却水温度'
                    },
                    legend:{
                        data:['温度/℃']
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        axisLabel:{
                            show:true,
                            interval: 0,//,    // {number}
                            formatter: function (value) {
                                //x轴的文字改为竖版显示
                                //alert(value)
                                var str = value.replace("2019-","").split("/");
                                var res =[str[0],str[1]+":"+str[2]]
                                return res.join("\n");
                            }
                        },
                        boundaryGap: false,
                        type: 'category',
                        data: data_time
                    },
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} °C'
                        },
                        boundaryGap: [0, '100%'],
                    },
                    dataZoom: [{
                        type: 'inside',
                        show:false,
                        start: 50,
                        end: 100
                    }, {
                        start: 0,
                        end: 100,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '100%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    series: [{
                        smooth:true,
                        name:"温度/℃",
                        data: data_tem,
                        type: 'line',
                        symbolSize:6,//控制折线图上表示数值的图标的大小
                        symbol:'emptyCircle',//控制折线图上表示数值的样式
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'},
                                {type:'average',name:'平均值',itemStyle:{
                                        normal:{
                                            color:'black'
                                        }
                                    }}
                            ]
                        }
                    }],

                };
                cold_Chart.setOption(option);
            }
        });
        var dieseloil_Chart = echarts.init(document.getElementById('diesel_oil'));
        $.ajax({
            url: "/devicehis_dieseloil",
            type: "POST",
            data:{"id":id},
            dataType: "json",
            success: function(response) {
                data_time=[];
                data_tem=[];
                response["res"].sort(up)
                for(var d in response["res"]){
                    data_time.push(response["res"][d]["更新时间"]);
                    data_tem.push(response["res"][d]["柴油量"]);
                }
                option = {
                    title:{
                        text:'柴油量'
                    },
                    legend:{
                        data:['升/L']
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        axisLabel:{
                            interval: 0,
                            formatter: function (value) {
                                //x轴的文字改为竖版显示
                                var str = value.replace("2019-","").split("/");
                                var res =[str[0],str[1]+":"+str[2]]
                                return res.join("\n");
                            }
                        },
                        type: 'category',
                        data: data_time
                    },
                    dataZoom: [{
                        type: 'inside',
                        show:false,
                        start: 50,
                        end: 100
                    }, {
                        start: 0,
                        end: 100,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '100%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value} L'
                        }
                    },
                    series: [{
                        name:"升/L",
                        data: data_tem,
                        type: 'bar',
                        itemStyle : { normal: {label : {show: true}}},//控制统计图上显示数据
                        markPoint : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'}
                            ]
                        },
                        markLine : {
                            data : [
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值',itemStyle:{
                                        normal:{
                                            color:'black'
                                        }
                                    }},
                                {type:'average',name:'平均值',itemStyle:{
                                        normal:{
                                            color:'black'
                                        }
                                    }}
                            ],
                            color:"#EE9201",
                        },

                    }],

                };
                dieseloil_Chart.setOption(option);
            }
        });
        var Supercharger = echarts.init(document.getElementById('Supercharger'));
        $.ajax({
            url: "/devicehis_Supercharger",
            type: "POST",
            data:{"id":id},
            dataType: "json",
            success: function(response) {
                data_time=[];
                data_tem=[];
                data_round=[];
                response["res"].sort(up)
                for(var d in response["res"]){
                    data_time.push(response["res"][d]["更新时间"]);
                    data_tem.push(response["res"][d]["增压器压强"]);
                    data_round.push(response["res"][d]["增压器转速"])
                }
                //alert(data_tem)
                var  option = {
                    title:{
                        text:'增压器数据'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    xAxis: {
                        axisLabel:{
                            show:true,
                            interval: 0,//,    // {number}
                            formatter: function (value) {
                                //x轴的文字改为竖版显示
                                //alert(value)
                                var str = value.replace("2019-","").split("/");
                                var res =[str[0],str[1]+":"+str[2]]
                                return res.join("\n");
                            }
                        },
                        type: 'category',
                        data: data_time
                    },
                    yAxis: [
                        {
                            type: 'value',
                            name: '增压器转速（转/s)',
                            min: 0,
                            max: 11000,
                            interval: 400,
                            axisLabel: {
                                formatter: '{value}'
                            },
                            nameLocation:'center',
                            nameGap:65
                        },
                        {
                            type: 'value',
                            name: '增压器压强（Pa）',
                            min: 0,
                            max: 110,
                            // interval: 15000,
                            axisLabel: {
                                formatter: '{value}'
                            },
                            nameLocation:'center',
                            nameGap:65,
                            nameRotate:-90
                        }
                    ],
                    dataZoom: [{
                        type: 'inside',
                        show:true,
                        start: 50,
                        end: 100
                    }, {
                        start: 0,
                        end: 100,
                        handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                        handleSize: '100%',
                        handleStyle: {
                            color: '#fff',
                            shadowBlur: 3,
                            shadowColor: 'rgba(0, 0, 0, 0.6)',
                            shadowOffsetX: 2,
                            shadowOffsetY: 2
                        }
                    }],
                    series: [
                        {
                            show:true,  
                            name:'增压器转速',
                            type:'bar',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true,
                                        position: 'top',
                                    },
                                    color:"orange"
                                }
                            },
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'max', name: '最大值',itemStyle:{
                                            normal:{
                                                color:'black'
                                            }
                                        }},
                                    {type : 'min', name: '最小值',itemStyle:{
                                            normal:{
                                                color:'black'
                                            }
                                        }},
                                    {type:'average',name:'平均值',itemStyle:{
                                            normal:{
                                                color:'black'
                                            }
                                        }},
                                ]
                            },
                            data:data_round
                        },
                        {
                            show:true,
                            name:'增压器压强',
                            type:'line',
                            yAxisIndex: 1,
                            itemStyle : {  /*设置折线颜色*/
                                normal : {
                                    label: {
                                        show: true,
                                        position: 'top',
                                    }
                                }
                            },
                            markPoint : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'}
                                ]
                            },
                            markLine : {
                                data : [
                                    {type : 'max', name: '最大值'},
                                    {type : 'min', name: '最小值'},
                                    {type:'average',name:'平均值'},
                                ]
                            },
                            data:data_tem
                        }
                    ]
                };
                Supercharger.setOption(option);
            }
        });
    });
</script>
</html>
