<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        #container {width:300px; height: 180px; }
    </style>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="tittle">
      <div>RUI NING 8</div>
      <img style="float:left;"src="https://webapi.amap.com/images/autonavi.png"></img>
    </div>
  </body>
</html>
