<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <style type="text/css">
      body,
      html,
      #container {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      #search-bar {
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 9999;
        width: 400px;
        height: 50px;
      }
      #chose-model {
        position: fixed;
        left: 20px;
        top: 100px;
        z-index: 9999;
        width: 400px;
        height: 50px;
      }
      #chose-model input {
        height: 50px;
      }
      #search-bar input {
        height: 50px;
      }
    </style>
    <title>船舶</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.13&key=a9b1c7de9e96206b1d3f36843adbfb2c&callback=init"></script>
  </head>
  <body>

    <div id="search-bar">
      <input id="text" placeholder="RUI NING 8或MMSI" type="text" />
      <input value="英文名搜索" type="button" onclick="namehref()"/>
      <input value="MMSI搜索" type="button" onclick="idhref()"/>
    </div>

    <div id="chose-model">
      <input value="海量点模式" type="button" onclick="window.location.href ='/shipsea'"/>
      <input value="聚集模式" type="button" onclick="window.location.href ='/shipregin'"/>
    </div>

    <div id="container" tabindex="0"></div>
    <script type="text/javascript">
      $(document).ready(function() {
        var map= new AMap.Map("container", {
            resizeEnable: true,
            center: [120.480983, 32.989628],
            zoom: 5,
            mapStyle: "amap://styles/whitesmoke"
        });

        $.ajax({
          url: "/all",
          type: "GET",
          dataType: "json",
          success: function (response) {
            for (let doc in response["res"]) {
              var marker = new AMap.Marker({
                position: response["res"][doc]["GPS"], //位置
                map: map
              });

              marker.setMap(map); //添加到地图
              AMap.event.addListener(marker, "click", function () {
                getshipinfo(response["res"][doc]["MMSI"]).then(data => {
                  delete data.shipinfo["？5"]
                  delete data.shipinfo["？4"]
                  delete data.shipinfo["shipdyna"]
                  var res=JSON.stringify(data.shipinfo).replace(/:/g,",").replace(/{/g,'').replace(/}/g,"").replace(/"/g,"").replace(/"/g,"").split(",")
                  content=[]
                  var title=data.shipinfo["英文名"]
                  content.push("<table class='title'width=\"400\" align='center'><tr>"+title+"</tr></table>")
                  content.push("<table class=\"shipinfo\" width=\"400\" >")
                  for(var i=2;i<28;i=i+4){
                      if(res[i+1]==="null"){res[i+1]=""}
                      if(res[i+3]==="null"){res[i+3]=""}
                    content.push("<tr ><td width='50px' style=\"color: midnightblue;\" >"+res[i]+"</td><td width='200px'style=\"color: red;\">"+res[i+1]+"</td>" +
                            "<td  width='150px'style=\"color: midnightblue;\" > "+res[i+2]+" </td><td  width='200px'style=\"color: red;\">"+res[i+3]+"</td> </tr>")
                  }
                  content.push("</table>"+"<a href=\"/trace?id="+data.shipinfo["MMSI"]+"\">详细信息</a>")

                  //content=JSON.stringify(data.shipinfo);
                  var infoWindow = new AMap.InfoWindow({
                    content: content.toString().replace(/,/g,""),
                  });
                  infoWindow.open(map, response["res"][doc]["GPS"]);
                });
              });
            }
          }

        });
      });
      getshipinfo = function(shipid) {
        var data = { id: shipid };
        return new Promise(function(resolve, reject) {
          $.ajax({
            url: "/ship",
            type: "POST",
            data: data,
            dataType: "json",
            error: function() {
              alert("失败");
            },
            success: function(response) {
              shipinfo = response["res"];
              resolve({ shipinfo: shipinfo });
            }
          });
        });
      };
      idhref=function () {
        var id = document.getElementById("text").value;
        if(id===""){
            alert("MMSI输入为空")
        }
        else{window.location.href = "/trace?id="+id;}
      }
      namehref=function () {
        var name = document.getElementById("text").value;

        if(name===""){
              alert("英文名输入为空")
        }
        else{
            $.ajax({
                url: "/id",
                type: "POST",
                data: {shipname: name},
                dataType: "json",
                success: function (response) {
                    //alert(JSON.stringify(response["res"]))
                    if(JSON.stringify(response["res"])==="[]"){
                        alert("未找到船舶")
                    }
                    else{window.location.href = "/trace?id=" + response["res"][0]["MMSI"];}

                }
            })
        }
      }
    </script>
  </body>
</html>
