<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/jquery1-11-1.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <style type="text/css">
        body,html,#container{
            width: 100%;
            height: 100%;
            margin: 0px
        }
    </style>
    <title>船舶</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<body>
<script src="https://webapi.amap.com/maps?v=1.4.13&key=a9b1c7de9e96206b1d3f36843adbfb2c&callback=init"></script>
<div id="container" tabindex="0"></div>
<script type="text/javascript">
    $(document).ready(function() {

        $.ajax({
            url: '/all',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var map = new AMap.Map('container', {
                    resizeEnable: true,
                    center: [120.480983, 32.989628],
                    zoom: 5,
                    mapStyle: 'amap://styles/whitesmoke',
                });
                for (var doc in response["res"]) {
                    var marker = new AMap.Marker({
                        position: response["res"][doc]["GPS"],//位置
                        map: map,
                    })
                    //alert(response["res"][doc]["MMSI"])
                    // var content=getshipinfo(response["res"][doc]["MMSI"])
                    // var content = [" sad " + response["res"][doc]["GPS"]]
                    getshipinfo(response["res"][doc]["MMSI"]).then(function(shipinfo){
                        AMap.event.addListener(marker, 'click', function () {
                            // content=getshipinfo(response["res"][doc]["MMSI"])
                            content = shipinfo
                            var infoWindow = new AMap.InfoWindow({
                                content: content.join("<br/>"),
                            });
                            infoWindow.open(map, response["res"][doc]["GPS"]);
                        });
                        marker.setMap(map);//添加到地图
                    })
                    // AMap.event.addListener(marker, 'click', function () {
                    //     // content=getshipinfo(response["res"][doc]["MMSI"])
                    //     var infoWindow = new AMap.InfoWindow({
                    //         content: content.join("<br/>"),
                    //     });
                    //     infoWindow.open(map, response["res"][doc]["GPS"]);
                    // });
                    // marker.setMap(map);//添加到地图
                    //var tittle="chuanboming"
                }
            }
        })
    })
    getshipinfo=function(shipid){
        var data={"id":shipid};
        return new Promise(function(resolve, reject) {
             $ajax({
                url:"/ship",
                type:"POST",
                data:data,
                dataType: "json",
                error:function(){
                    alert("asdj")
                },
                success:function(response){
                    shipinfo=response["res"];
                    allert(response["res"])
                    resolve(shipinfo);
                }
            });
        })

        // $ajax({
        //     url:"/ship",
        //     type:"POST",
        //     data:data,
        //     dataType: "json",
        //     error:function(){
        //         alert("asdj")
        //     },
        //     success:function(response){
        //         shipinfo=response["res"];
        //         allert(response["res"])
        //     }
        // });
        // promise(shipinfo) ;
    }
</script>

</body>
</html>
