<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <style type="text/css">
        body,html,#container{
            width: 100%;
            height: 100%;
            margin: 0px
        }
    </style>
    <title>船舶</title>
</head>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<body>
<script src="https://webapi.amap.com/maps?v=1.4.13&key=a9b1c7de9e96206b1d3f36843adbfb2c&callback=init"></script>
<div id="container" tabindex="0"></div>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: '/all',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var map = new AMap.Map('container', {
                    resizeEnable: true,
                    center: [120.480983, 32.989628],
                    zoom: 5,
                    mapStyle: 'amap://styles/whitesmoke',
                });
                var style = [{
                    url: 'https://a.amap.com/jsapi_demos/static/images/mass0.png',
                    anchor: new AMap.Pixel(6, 6),
                    size: new AMap.Size(11, 11)
                }, {
                    url: 'https://a.amap.com/jsapi_demos/static/images/mass1.png',
                    anchor: new AMap.Pixel(4, 4),
                    size: new AMap.Size(7, 7)
                }, {
                    url: 'https://a.amap.com/jsapi_demos/static/images/mass2.png',
                    anchor: new AMap.Pixel(3, 3),
                    size: new AMap.Size(5, 5)
                }
                ];
                var mass = new AMap.MassMarks(citys, {
                    opacity: 0.8,
                    zIndex: 111,
                    cursor: 'pointer',
                    style: style
                });
                var data=[];

                for (var doc in response["res"]) {
                    data.push({lnglat:response["res"][doc]["GPS"]});//位置
                }
                alert(data);
                massMarks.setData(data);
                massMarks.setMap(map);
            }
        })
    })
    getshipinfo=function(shipid){
        var data={"id":shipid};
        var shipinfo;
        $ajax({
            url:"/ship",
            type:"POST",
            data:data,
            dataType: "json",
            error:function(){
                alert("asdj")
            },
            success:function(response){
                shipinfo=response["res"];
                allert(response["res"])
            }
        });
        return shipinfo;
    }
</script>

</body>
</html>
