<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta
      name="viewport"
      content="initial-scale=1.0, user-scalable=no, width=device-width"
    />
    <title>船舶</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <style type="text/css">
      html, body, #container {
        height: 100%;
        width: 100%;
      }

      .input-card .btn {
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 9999;
        width: 250px;
        height: 24px;
      }

      .input-card .btn:last-child {
        margin-right: 0;
      }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

  </head>
  <body>

    <div id="container" tabindex="0"></div>
    <script src="https://webapi.amap.com/maps?v=1.4.13&key=a9b1c7de9e96206b1d3f36843adbfb2c&callback=init"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.ajax({
          url: "/all",
          type: "GET",
          dataType: "json",
          success: function(response) {
            var ships = [];
            var map = new AMap.Map("container", {
              resizeEnable: true,
              center: [120.480983, 32.989628],
              zoom: 5,
              mapStyle: "amap://styles/whitesmoke"
            });
            var style = [{
              url: 'https://a.amap.com/jsapi_demos/static/images/mass0.png',
              anchor: new AMap.Pixel(6, 6),
              size: new AMap.Size(11, 11)
            }, {
              url: 'https://a.amap.com/jsapi_demos/static/images/mass1.png',
              anchor: new AMap.Pixel(4, 4),
              size: new AMap.Size(7, 7)
            }, {
              url: 'https://a.amap.com/jsapi_demos/static/images/mass2.png',
              anchor: new AMap.Pixel(3, 3),
              size: new AMap.Size(5, 5)
            }
            ];
            for (var doc in response["res"]) {
              let GPS=response["res"][doc]["GPS"];
              //let 中文名=response["res"][doc]["中文名"]
              let ship={"GPS":GPS,"style":2}
              ships.push(ship)
            }

            var massMarks = new AMap.MassMarks({
              zIndex: 5,  // 海量点图层叠加的顺序
              zooms: [3, 19],  // 在指定地图缩放级别范围内展示海量点图层
              style: style  // 设置样式对象
            });
            massMarks.setData(ships);
            var marker = new AMap.Marker({content:' ', map: map});

            mass.setMap(map)

          }
        });
      });
    </script>
  </body>
</html>
