<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.13&key=a9b1c7de9e96206b1d3f36843adbfb2c&callback=init"></script>
    <style type="text/css">
        body,html,#container{
            width: 100%;
            height: 100%;
            margin: 0px
        }
    </style>
    <title>船舶</title>
</head>
<body>
<div id="container" tabindex="0"></div>
<script type="text/javascript">
    (function ($) {
        $.getUrlParam = function (id) {
            var reg = new RegExp("(^|&)" + id + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);

    $(document).ready(function(){
        var id=$.getUrlParam('id')
        console.log(id)
        var name=$.getUrlParam('name')
        console.log(name)
        var data={"id":id,"shipname":name}
        $.ajax({
            url: '/shiphis',
            type: 'post',
            data:data,
            dataType: 'json',
            success: function (response) {
                var path=[]
                var heatdata=[]
                if(JSON.stringify(response["res"])==="[]"){
                    window.location.href = "/ships";
                    alert("无法找到船舶")
                }
                //alert(JSON.stringify(response["res"])==="[]")
                for (var doc in response["res"]) {
                    if(response["res"].length-169<doc&&doc<response["res"].length)//三天
                        path.push(response["res"][doc]["GPS"])//最新在最前
                    heatdata.push({"lng":response["res"][doc]["GPS"][0],"lat":response["res"][doc]["GPS"][1],count:1})
                }
                //path.reverse()
                var map = new AMap.Map('container', {
                    resizeEnable: true,
                    center: path[0],
                    zoom: 300,
                    mapStyle: 'amap://styles/whitesmoke',
                });
                var heatmap;
                map.plugin(["AMap.Heatmap"], function () {
                    //初始化heatmap对象
                    heatmap = new AMap.Heatmap(map, {
                        radius: 25, //给定半径
                        opacity: [0, 0.8]
                        /*,
                        gradient:{
                            0.5: 'blue',
                            0.65: 'rgb(117,211,248)',
                            0.7: 'rgb(0, 255, 0)',
                            0.9: '#ffea00',
                            1.0: 'red'
                        }
                         */
                    });
                    heatmap.setDataSet({
                        data: heatdata,
                        max: 100
                    });
                    heatmap.show();
                });

                //alert(path);
                var micon = new AMap.Icon({
                    size: new AMap.Size(40, 50),    // 图标尺寸
                    image:  "http://pic.90sjimg.com/design/00/56/26/96/5928215e841cb.png",  // Icon的图像
                    imageSize: new AMap.Size(40, 50)   // 根据所设置的大小拉伸或压缩图片
                });
                var startmarker = new AMap.Marker({
                    map: map,
                    position: path[0],
                    icon:micon,
                    autoRotation: true,
                    angle:-90,
                });
                AMap.event.addListener(startmarker, "click", function () {
                    getdevice(id).then(data => {
                        content=[]
                        var res=JSON.stringify(data.device).replace(/:/g,",").replace(/{/g,'').replace(/}/g,"").replace(/"/g,"").replace(/"/g,"").split(",")
                        //alert(res)
                        var title=data.device["英文名"]+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+data.device["shipinfo"]
                        content.push("<table  class='title'width=\"600\" align='center'><tr style='font-size: 30px;'>"+title+"</tr></table>")
                        content.push("<table class=\"shipinfo\" width=\"600\" >")
                        for(var i=2;i<36;i=i+4){
                            content.push("<tr ><td width='200px' style=\"color: midnightblue;\" >"+res[i]+"</td><td width='200px'style=\"color: red;\">"+res[i+1]+"</td>" +
                                "<td  width='200px'style=\"color: midnightblue;\" > "+res[i+2]+" </td><td  width='200px'style=\"color: red;\">"+res[i+3]+"</td> </tr>")
                        }
                        content.push("<tr ><td width='200px' style=\"color: midnightblue;\" >"+res[38]+"</td><td width='200px'style=\"color: red;\">"+res[39]+"</td></tr>" )
                        content.push("</table>"+"<a href=\"/devicehis?id="+data.device["shipinfo"]+"\">历史信息</a>")
                        var infoWindow = new AMap.InfoWindow({
                            content:  content.toString().replace(/,/g,""),
                        });
                        infoWindow.open(map,path[path.length-1]);
                    });
                });
                var polyline = new AMap.Polyline({
                    path: path,
                    showDir:true,
                    strokeWeight: 6,
                    strokeColor: 'blue', // 线条颜色
                    //lineJoin: 'round' // 折线拐点连接处样式

                });
                map.add(polyline);
                var passedPolyline = new AMap.Polyline({
                    map: map,
                    // path: lineArr,
                    strokeColor: "red",  //线颜色
                    // strokeOpacity: 1,     //线透明度
                    strokeWeight: 6,      //线宽

                    //播放速度

                });


                startmarker.on('moving', function (e) {
                    passedPolyline.setPath(e.passedPath);
                });
                map.setFitView();
                startAnimation();


                function startAnimation () {
                    startmarker.moveAlong(path, 20000);
                }

                function pauseAnimation () {
                    startmarker.pauseMove();
                }

                function resumeAnimation () {
                    startmarker.resumeMove();
                }

                function stopAnimation () {
                    startmarker.stopMove();
                }
                $.ajax({
                    url: '/shippath',
                    type: 'post',
                    data: data,
                    dataType: 'json',
                    success: function (response) {
                        var regular_path=[]

                        var res=response["res"]["regular_path"].replace(/\),/g,"):").split(":")
                        for(var i in res){
                            var gps=res[i].replace(/\)/g,"").replace(/\(/g,"").split(",")
                            regular_path.push(gps)
                        }
                        //alert(res[res.length-1].replace("(","").replace(")","").split(",")[0])
                        x1=parseFloat(path[path.length-1].toString().split(",")[0])
                        y1=parseFloat(path[path.length-1].toString().split(",")[1])
                        x2=parseFloat(res[res.length-1].replace("(","").replace(")","").split(",")[0])
                        y2=parseFloat(res[res.length-1].replace("(","").replace(")","").split(",")[1])


                        var marker = new AMap.Marker({
                            position: regular_path[regular_path.length-1], //位置
                            map: map
                        });
                        marker.setMap(map); //添加到地图
                        //regular_path.push(response["res"]["regular_path"].replace(/\(/g,"").replace(/\)/g,""))//最新在最前alert(regular_path)
                        var polyline2 = new AMap.Polyline({
                            path: regular_path,
                            showDir:true,
                            strokeWeight: 6, // 线条宽度，默认为 1
                            strokeColor: 'black', // 线条颜色
                            lineJoin: 'round' // 折线拐点连接处样式
                            // strokeStyle: "solid"  //线样式
                        });
                        map.add(polyline2)


                    }
                })
            }
        })

    })
    getdevice = function(shipid) {
        var id=$.getUrlParam('id')
        var data = { id: id };
        return new Promise(function(resolve, reject) {
            $.ajax({
                url: "/device",
                type: "POST",
                data: data,
                dataType: "json",
                error: function() {
                    alert("未找到该船舶");
                },
                success: function(response) {
                    device = response["res"];
                    resolve({ device: device });
                }
            });
        });
    };
    JuadgeDir = function(x1,y1,x2,y2) {
        var Double =Math.sqrt(Math.pow(x1-x2,2)+Math.pow(y1-y2,2))
        return Double
    };

</script>

</body>
</html>


