<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.13&key=a9b1c7de9e96206b1d3f36843adbfb2c&callback=init"></script>
    <style type="text/css">
        body,html,#container{
            width: 100%;
            height: 100%;
            margin: 0px
        }
    </style>
    <title>船舶</title>
</head>
<body>
<div id="container" tabindex="0"></div>
<script type="text/javascript">
    (function ($) {
        $.getUrlParam = function (id) {
            var reg = new RegExp("(^|&)" + id + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    })(jQuery);
    $(document).ready(function(){
        var id=$.getUrlParam('id')
        var data={"id":id}
        $.ajax({
            url: '/shiphis',
            type: 'post',
            data:data,
            dataType: 'json',
            success: function (response) {
                var path=[]
                //alert(JSON.stringify(response))
                for (var doc in response["res"]) {
                    path.push(response["res"][doc]["GPS"])
                }
                path.reverse()
                var map = new AMap.Map('container', {
                    resizeEnable: true,
                    center: path[0],
                    zoom: 300,
                    mapStyle: 'amap://styles/whitesmoke',
                });
                //alert(path);
                var startmarker = new AMap.Marker({
                    map: map,
                    position: path[0],
                    icon: "https://webapi.amap.com/images/car.png",
                    //offset: new AMap.Pixel(-26, -13),
                    autoRotation: true,
                    angle:-90,
                });
                var polyline = new AMap.Polyline({
                    path: path,
                    showDir:true,
                    borderWeight: 3, // 线条宽度，默认为 1
                    strokeColor: 'blue', // 线条颜色
                    lineJoin: 'round' // 折线拐点连接处样式
                    // strokeStyle: "solid"  //线样式
                });
                map.add(polyline);
                var passedPolyline = new AMap.Polyline({
                    map: map,
                    // path: lineArr,
                    strokeColor: "red",  //线颜色
                    // strokeOpacity: 1,     //线透明度
                    strokeWeight: 6,      //线宽
                                            //播放速度
                    // strokeStyle: "solid"  //线样式
                });


                startmarker.on('moving', function (e) {
                    passedPolyline.setPath(e.passedPath);
                });
                map.setFitView();
                startAnimation();


                function startAnimation () {
                    startmarker.moveAlong(path, 20000);
                }

                function pauseAnimation () {
                    startmarker.pauseMove();
                }

                function resumeAnimation () {
                    startmarker.resumeMove();
                }

                function stopAnimation () {
                    startmarker.stopMove();
                }
            }
        })
    })
</script>

</body>
</html>

//轨迹纠偏 （放弃）  ?path问题  轨迹展示ok
//天气

